@charset "utf-8";
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/SANDBOX/SBAggroM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.title {
  font-size: 3rem;
  padding: 50px 0 30px 0;
  color: var(--gumi--sub-green);
}
.poster {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.info img {
  width: 30%;
}
.infoText {
  width: 50%;
  gap: 50px;
}

.infoText ul li p {
  font-size: 1.7rem;
  padding-bottom: 20px;
  color: var(--gumi--main);
}
.infoText ul li {
  font-size: 1.2rem;
  padding: 10px 0;
  color: #333;
}
.posterline {
  margin-bottom: 30px;
  border-top: 1px solid #d5d5d5;
}
.posterline:first-child{
    border-top: 1px solid #fff;
}