@charset "utf-8";
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/SANDBOX/SBAggroM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.title {
  font-size: 3rem;
  padding: 50px 0;
  color: var(--gumi--sub-green);
}
.info {
  display: flex;
  justify-content: space-between;
}
.info img {
  width: 40%;
}
.infoText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.infoText ul li {
  font-size: 1.4rem;
  padding: 10px 0;
  color: #333
}

.infoText p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333
}

.infoText p span{
    color: var(--gumi--main);
}
