@charset "utf-8";
@import url(variable.css);

/* 축제 소개 */
.title {
  font-size: 3rem;
  padding: 50px 0;
  color: var(--gumi--sub-green);
}
.festival .info {
  display: flex;
  justify-content: space-between;
}
.festival .info img {
  width: 40%;
}
.festival .infoText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.festival .infoText ul li {
  font-size: 1.4rem;
  padding: 10px 0;
  color: #444;
}

.festival .infoText p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
}

.festival .infoText p span {
  color: var(--gumi--main);
}

/* 히스토리 */
/* .hisotry .title {
  font-size: 3rem;
  padding: 50px 0 30px 0;
  color: var(--gumi--sub-green);
} */

.poster {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.poster img {
  width: 30%;
}
.poster .infoText {
  width: 50%;
  gap: 50px;
}

.poster .infoText ul li p {
  font-size: 1.7rem;
  padding-bottom: 20px;
  color: var(--gumi--main);
}

.poster .infoText ul li {
  font-size: 1.2rem;
  padding: 10px 0;
  color: #444;
}
.posterline {
  margin-bottom: 30px;
  border-top: 1px solid #d5d5d5;
}
.posterline:first-child {
  border-top: 1px solid #fff;
}
