@charset "utf-8";
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
li {
  background-color: var(--gumi--sub-yellow);
  border-radius: 30px;
  padding: var(--li-padding);
  text-align: center;
}
a {

  text-decoration: none;
  color: #111;
}
html {
  font-size: 16px;
  font-family: "SBAggroB";
}
